body {
  background-color: black;
  text-align: center;
  h1 {
    font-size: 40px;
    font-family: Ubuntu Condensed;
    margin-top: 30px;
    color: white;
  }
  h2 {
    font-size: 30px;
    font-family: Ubuntu Condensed;
    margin-top: 30px;
    color: white;
  }
}

.threejs {
  width: 400px;
  height: 400px;
  display: table;
  margin: auto;
}

.errorMsg {
  fontFamily: monospace;
  fontSize: 13px;
  fontWeight: normal;
  textAlign: center;
  background: #fff;
  color: #000;
  padding: 1.5em;
  width: 400px;
  margin: 5em auto 0;
  display: table;
}
